.cards{
  height: 480px;

  &__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 150.68%;
    color: #576072;
    text-align: center;
    margin-bottom: 30px;
  }
  &__short{
    height: 450px;
    :global(.slick-dots) {
      bottom:30px;
    }
  }
}

.slick__container_custom{
  // react-slider:fix -> calculate width without arrows
    max-width: calc(100vw - 52px);
}