.slick-list{
  padding: 10px;
  margin: -10px;
}

.slick-track{
  .slick-slide{
    article{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
      margin-right: 24px;
    }
  }

  .slick-active{
    overflow: visible;
  }
}

.slick-current{
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 26px;
  z-index: 1000;
}
.slick-next{
  right: -10px;
}
.slick-prev{
  left: -10px;
}

.slick-dots{
  bottom:0;
}

